# Tangorpro specific init.rc
import /vendor/etc/init/hw/init.gs201.rc

on init
    # NFC streset tool name
    setprop persist.vendor.nfc.streset libstreset21
    setprop persist.vendor.se.streset libstreset21

# When ro.build.flavor=factory_tangorpro-userdebug, add vendor/bin/factory to default path
on init && property:ro.build.flavor=factory_tangorpro-userdebug
    export PATH /product/bin:/apex/com.android.runtime/bin:/apex/com.android.art/bin:/system_ext/bin:/system/bin:/system/xbin:/odm/bin:/vendor/bin:/vendor/xbin:/vendor/bin/factory

on early-boot
    # Wait for insmod_sh to finish all common modules
    wait_for_prop vendor.common.modules.ready 1
    start insmod_sh_tangorpro

# Thermal
on late-init
    setprop persist.vendor.disable.thermal.control 1

service insmod_sh_tangorpro /vendor/bin/init.insmod.sh /vendor/etc/init.insmod.tangorpro.cfg
    class main
    user root
    group root system
    disabled
    oneshot

on boot && property:ro.build.flavor=factory_tangorpro-userdebug
    # FTM log folder
    mkdir /data/ftmlog 0775 system system

    # Audio test folder
    mkdir /data/AudioTest 0775 system system

on property:vendor.mfgapi.touchpanel.permission=1
    chmod 0600 /sys/devices/virtual/sec/tsp/cmd
    chown system system /sys/devices/virtual/sec/tsp/cmd

# Touch
on property:vendor.device.modules.ready=1
    chown system system /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/force_touch_active
    chown system system /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_dttw_mode
    chown system system /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_fw_history
    chown system system /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_high_sensi_mode

on property:vendor.all.modules.ready=1 && property:persist.sys.tap_gesture=
    write /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_dttw_mode 1
    write /sys/devices/platform/exynos-drm/primary-panel/force_power_on 1

on property:vendor.all.modules.ready=1 && property:persist.sys.tap_gesture=1
    write /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_dttw_mode 1
    write /sys/devices/platform/exynos-drm/primary-panel/force_power_on 1

on property:vendor.all.modules.ready=1 && property:persist.sys.tap_gesture=0
    write /sys/devices/platform/10d10000.spi/spi_master/spi0/spi0.0/input/nvt_touch/nvt_dttw_mode 0
    write /sys/devices/platform/exynos-drm/primary-panel/force_power_on 0

# Fingerprint
on post-fs-data
    chown system system /dev/goodix_fp
    exec_background - system shell -- /vendor/bin/trusty_apploader /vendor/firmware/g7.app

# Wifi
on property:sys.boot_completed=1
    write /sys/bus/platform/drivers/cnss2/qcom,cnss-qca6490/fs_ready 1
